---
import {alphaDate} from "../assets/utils.js"
import { Image } from '@astrojs/image/components';
export interface props {
    image: string;
    title: string;
    date: string;
    description: string;
    alt?: string;
    slug: string;
}

const {date, title, image, description, alt = 'image', slug} = Astro.props;
---

<div class="card flex">
    <Image src={image} height={1080} width={1920} format="webp" alt={alt} class="card-image" quality="30"/>
    <p class="card-date uppercase">{alphaDate(date)}</p>
    <h2 class="card-title">{title}</h2>
    <p class="card-description">{description}</p>
    <a class="button" href={slug}>Read More</a>
</div>