---
import {alphaDate} from "../assets/utils.js"
import {Image, Picture} from "@astrojs/image/components"
export interface props {
    image: string;
    title: string;
    date: string;
    description: string;
    alt?: string;
    slug: string;
}

const {date, title, image, description, alt = 'image', slug} = Astro.props;
---

<div class="card flex">
    <Picture  src={image} widths={[500]} aspectRatio="16:9" format="webp" fit="cover" alt={alt} class="card-image" quality="50" />
    <p class="card-date uppercase">{alphaDate(date)}</p>
    <h2 class="card-title">{title}</h2>
    <p class="card-description">{description}</p>
    <a class="button" href={slug}>Read More</a>
</div>